/*
// ########     ###     ######  ######## 
// ##     ##   ## ##   ##    ## ##       
// ##     ##  ##   ##  ##       ##       
// ########  ##     ##  ######  ######   
// ##     ## #########       ## ##       
// ##     ## ##     ## ##    ## ##       
// ########  ##     ##  ######  ######## 
// 
// BASE
*/

::-webkit-scrollbar-thumb:vertical {
	background-color: #111;
	-webkit-border-radius: 0;
}

body {
	font-family: Spiegel-Regular;
}

#header__edit {
	height: 48px;
	display: flex;
	align-items: center;
	margin-left: 16px;
	/*border-bottom: 1px solid #222;*/
}

#header__edit div {
	height: 100%;
	display: flex;
	align-items: center;
}

h2 {
	font-size: 12px;
	color: #999;
	font-family: Beaufort-Bold;
	padding: 4px 8px;
	cursor: pointer;
	position: relative;
	/*font-variant: small-caps;*/
	text-transform: uppercase;
}

/*
//  ######  ########  ######  ######## ####  #######  ##    ## 
// ##    ## ##       ##    ##    ##     ##  ##     ## ###   ## 
// ##       ##       ##          ##     ##  ##     ## ####  ## 
//  ######  ######   ##          ##     ##  ##     ## ## ## ## 
//       ## ##       ##          ##     ##  ##     ## ##  #### 
// ##    ## ##       ##    ##    ##     ##  ##     ## ##   ### 
//  ######  ########  ######     ##    ####  #######  ##    ## 
//
// SECTION
*/

.sections {
	position: absolute;
	top: 48px;
	bottom: 8px;
	width: 100%;
	display: flex;
	grid-gap: 10px;
}

.section-block {
	flex: 1;
	display: flex;
	flex-flow: column;
	height: 100%;
	border: 1px solid #222;
	border-radius: 5px;
}

/*
//  ######  ########  ######  ######## ####  #######  ##    ##    ##     ## ########    ###    ########  ######## ########  
// ##    ## ##       ##    ##    ##     ##  ##     ## ###   ##    ##     ## ##         ## ##   ##     ## ##       ##     ## 
// ##       ##       ##          ##     ##  ##     ## ####  ##    ##     ## ##        ##   ##  ##     ## ##       ##     ## 
//  ######  ######   ##          ##     ##  ##     ## ## ## ##    ######### ######   ##     ## ##     ## ######   ########  
//       ## ##       ##          ##     ##  ##     ## ##  ####    ##     ## ##       ######### ##     ## ##       ##   ##   
// ##    ## ##       ##    ##    ##     ##  ##     ## ##   ###    ##     ## ##       ##     ## ##     ## ##       ##    ##  
//  ######  ########  ######     ##    ####  #######  ##    ##    ##     ## ######## ##     ## ########  ######## ##     ## 
//
// SECTION HEADER
*/

.section-header {
	display: flex;
	align-items: center;
	min-height: 42px;
	border-bottom: 1px solid #222;
	padding: 0 16px;
}

h3 {
	color: #FFF;
	font-size: 12px;
	font-family: Spiegel-Regular;
	letter-spacing: 0.07em;
	letter-spacing: 0.24em;
	/*font-variant: small-caps;*/
	text-transform: uppercase;
	font-weight: bold;
}

/*
// ########  ######## ##    ## 
// ##     ##    ##    ###   ## 
// ##     ##    ##    ####  ## 
// ########     ##    ## ## ## 
// ##     ##    ##    ##  #### 
// ##     ##    ##    ##   ### 
// ########     ##    ##    ## 
//
// btn / button
*/

.btn {
	border-radius: 4px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-family: Spiegel-Regular;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 0.08em;
	/*letter-spacing: 0.24em;*/
	padding: 6px 12px;
	text-transform: uppercase;
	transition: all .3s ease;
}

.btn:hover {
	background-color: #111;
}

.btn.fake {
	cursor: initial;
}

.btn.fake:hover {
	background-color: initial;
}

/*
// ##       ####  ######  ########    ########  ##        #######   ######  ##    ## 
// ##        ##  ##    ##    ##       ##     ## ##       ##     ## ##    ## ##   ##  
// ##        ##  ##          ##       ##     ## ##       ##     ## ##       ##  ##   
// ##        ##   ######     ##       ########  ##       ##     ## ##       #####    
// ##        ##        ##    ##       ##     ## ##       ##     ## ##       ##  ##   
// ##        ##  ##    ##    ##       ##     ## ##       ##     ## ##    ## ##   ##  
// ######## ####  ######     ##       ########  ########  #######   ######  ##    ## 
//
// LIST BLOCK
*/

.list-block {
	color: #666;
	flex-grow: 1;
	max-height: 100%;
	padding: 8px 16px;
	overflow: auto;
}

.list-block li {
	line-height: 1.5;
}

.list-block li:hover {
	color: #ccc;
}

/*exception*/
.leftright-wrapper .list-block {
	/*this is because champ's list block is actually under leftright-wrapper > left > list-block*/
	padding-bottom: 40px;
}

/*
//  ######  ########    ###    ########   ######  ##     ##    ########  ##        #######   ######  ##    ## 
// ##    ## ##         ## ##   ##     ## ##    ## ##     ##    ##     ## ##       ##     ## ##    ## ##   ##  
// ##       ##        ##   ##  ##     ## ##       ##     ##    ##     ## ##       ##     ## ##       ##  ##   
//  ######  ######   ##     ## ########  ##       #########    ########  ##       ##     ## ##       #####    
//       ## ##       ######### ##   ##   ##       ##     ##    ##     ## ##       ##     ## ##       ##  ##   
// ##    ## ##       ##     ## ##    ##  ##    ## ##     ##    ##     ## ##       ##     ## ##    ## ##   ##  
//  ######  ######## ##     ## ##     ##  ######  ##     ##    ########  ########  #######   ######  ##    ## 
// 
// SEARCH BLOCK
*/

.search-block {
	width: 100%;
	background: transparent;
	border-radius: 0;
	border: none;
	color: #ccc;
	cursor: default;
	padding: 8px 16px;
	border-bottom: 1px solid #222;
}

.search-block::placeholder,
.search-block:-ms-input-placeholder,
.search-block::-ms-input-placeholder {
  color: #666;
  opacity: 1;
}

.search-block:focus {
    outline: none;
}

/*
// #### ##    ## ########  ##     ## ########    ########  ##        #######   ######  ##    ## 
//  ##  ###   ## ##     ## ##     ##    ##       ##     ## ##       ##     ## ##    ## ##   ##  
//  ##  ####  ## ##     ## ##     ##    ##       ##     ## ##       ##     ## ##       ##  ##   
//  ##  ## ## ## ########  ##     ##    ##       ########  ##       ##     ## ##       #####    
//  ##  ##  #### ##        ##     ##    ##       ##     ## ##       ##     ## ##       ##  ##   
//  ##  ##   ### ##        ##     ##    ##       ##     ## ##       ##     ## ##    ## ##   ##  
// #### ##    ## ##         #######     ##       ########  ########  #######   ######  ##    ## 
//
// INPUT BLOCK
*/

.input-block {
	/*width: 100%;*/
	background: #111;
	border-radius: 0;
	border: none;
	color: #ccc;
	padding: 8px 16px;
}

.input-block::placeholder,
.input-block:-ms-input-placeholder,
.input-block::-ms-input-placeholder {
  color: #666;
  opacity: 1;
}

.input-block:focus {
    outline: none;
}

/*
// ##       ######## ######## ######## ########  ####  ######   ##     ## ######## 
// ##       ##       ##          ##    ##     ##  ##  ##    ##  ##     ##    ##    
// ##       ##       ##          ##    ##     ##  ##  ##        ##     ##    ##    
// ##       ######   ######      ##    ########   ##  ##   #### #########    ##    
// ##       ##       ##          ##    ##   ##    ##  ##    ##  ##     ##    ##    
// ##       ##       ##          ##    ##    ##   ##  ##    ##  ##     ##    ##    
// ######## ######## ##          ##    ##     ## ####  ######   ##     ##    ##    
//
// LEFTRIGHT
// used in champ for left: search, right: champ details
*/

.leftright-wrapper {
	display: flex;
	flex-flow: row;
	flex-grow: 1;
	overflow: hidden;
}

.left {
	border-right: 1px solid #222;
}

.right {
	flex: 1;
	padding: 16px;
}

/*
// ########    ###     ######      ######## ########  #### ########    ########  ##        #######   ######  ##    ## 
//    ##      ## ##   ##    ##     ##       ##     ##  ##     ##       ##     ## ##       ##     ## ##    ## ##   ##  
//    ##     ##   ##  ##           ##       ##     ##  ##     ##       ##     ## ##       ##     ## ##       ##  ##   
//    ##    ##     ## ##   ####    ######   ##     ##  ##     ##       ########  ##       ##     ## ##       #####    
//    ##    ######### ##    ##     ##       ##     ##  ##     ##       ##     ## ##       ##     ## ##       ##  ##   
//    ##    ##     ## ##    ##     ##       ##     ##  ##     ##       ##     ## ##       ##     ## ##    ## ##   ##  
//    ##    ##     ##  ######      ######## ########  ####    ##       ########  ########  #######   ######  ##    ## 
//
// TAG EDIT BLOCK 
*/

.tag-edit-block {
	border-top: 1px solid #222;
	/*min-height: 100px;*/
	display: flex;
	flex-flow: row wrap;
	grid-gap: 4px;
	padding: 8px;
}

.tag-edit-block .btn {
	/*color: #ccc;*/
}

#input__tag-id {
	width: 56px;
}

#input__tag-name {
	width: unset;
	flex: 1;
}

/*---------------------------------------*/

label {
	display: inline-block;
	color: #666;
}

.champ-block .right {

}

#champ-block-data {
	overflow: auto;
}

#champ-block-data label {
	min-width: 8em;
}

#champ-block-data input {
	/*width: 100%;*/
}

label[indent='1'] { margin-left: 24px; }
label[indent='2'] { margin-left: 48px; }


/*-----------------*/

.collapsible-header {
	color: red;

}
/*
.collapsible-content {
	color: blue;
}

*/