
/* ---------------------------------------- HEADINGS */

h2 {
	font-size: 16px;
	color: #919191;
	font-family: Beaufort-Bold;
	padding: 8px 16px;
	cursor: pointer;
	position: relative;
}

h2.active::before {
	content: "";
	background: linear-gradient(180deg, rgba(60,60,60,0.0) 30%, rgba(60,60,60,1) 100%);
	opacity: 0.3;
	position: absolute;
	bottom: -16;
	left: 0;
	height: 200%;
	width: 100%;
}

/* ---------------------------------------- PAGE */

.edit-page.hide {
	display: none;
}

/* ---------------------------------------- CONSOLE */

textarea#edit-console {
	padding: 10px;
	color: #D2D3D6;
	background-color: #202124;
	margin-top: 48px;
	margin-bottom: 30px;
}

/* ---------------------------------------- TEXT */

p.edit-heading {
	color: #937341;
    font-weight: bold;
    font-size: 14px;
	font-family: Spiegel-Regular;
	margin-top: 8px;
	margin-left: 17px;
	white-space: pre;
    text-transform: uppercase;
    letter-spacing: 3.00px;
}

p.edit-action {
	cursor: pointer;
	color: #C4B998;
	font-family: Spiegel-Regular;
	margin-top: 8px;
	white-space: pre;
}

p.edit-desc {
	color: #919191;
	font-family: Spiegel-Regular;
	margin-left: 17px;
	padding-top: 1px;
	padding-bottom: 4px;
	white-space: pre;
}

p.edit-action img,
p.edit-desc img {
	margin-right: 8px;
}

/* ---------------------------------------- ETC */

.edit .inline {
	display: inline-block;
}

.edit .margin {
	margin-left: 10px;
}


/* ---------------------------------------- TABLE */

#edit-table-actions p.edit-action {
	display: inline-block;
	margin-right: 22px;
}

.edit select {
	/*margin-left: 12px;*/
}

.edit table {
	margin: 10px 0 0 15px;
	color: #919191;
	font-family: Spiegel-Regular;
	text-align: left;
	/*border-spacing: 0;*/
}

.edit table th {
	background-color: #1a1a1a;
	padding: 4px;
	font-weight: normal;
}

.edit table th,
.edit table td {
	padding-right: 20px;
}

.edit table.hide {
	display: none;
}

.edit table.hide3rd .three {
	display: none;
}