
body {
	/*
	 * .header's width is 100% page, but it begins from .center.
	 * maybe 40%~ of it becomes overflow, we don't need to see it
	 */
	overflow-x: hidden;
}

/* ======================== */

/*.center { background-color: #74c0fc; }*/
/*.left.sides-inner { background-color: #ffa8a8; }*/
/*.left.sides-outer { background-color: #ffc9c9; }*/
/*.right.sides-inner { background-color: #e599f7; }*/
/*.right.sides-outer { background-color: #eebefa; }*/
/*#header__main { background-color: #9775fa; }*/
/*#header__sidebar { background-color: #da77f2; }*/
/*#header__sidebar-2 { background-color: #be4bdb; }*/

#body-wrapper { display: flex; }
#center-wrapper { display: flex; }

.center {
	flex: 3;
	/*width: 100%;*/
	/*min-width: 1100px;*/
	max-width: 1100px;
	margin-top: 70px;
	margin-left: 260px;
	padding-left: 20px;
}

.sides-inner {
	width: 260px;
	min-height: 100vh;
}

.sides-inner.right {
	width: 130px;
}

.sides-outer {
	/*
	 * we can't makes these static, then .main-wrapper wouldb't be at the center
	 * if don't make static, they'll scroll with page
	 * height: 100%; doesn't work well with scrolling
	 * therefore, it needs to have auto height with min-height of 100vh (not parent 100% it's content can change)
	 */
	flex: 0.5;
	min-height: 100vh;
}

/* ======================== */

@media only screen and (max-width: 1400px) {
	/*
	 * calc() does not seem to work
	 * if there is not much space, there is not need to occupy double the space for .sides-inner
	 * only keep .sidebar and hide .sides-inner.right
	 */ 
	.sides-inner.right {
		width: 0;
	}
}

/* ======================== */

#sidebar {
	/*
	 * normally making position fixed breaks .main-wrapper alignment,
	 * that's why; .center needs to have margin-left equal to .sidebar's width.
	 *
	 * fixed sidebar's height shoudln't be auto (not min-height 100vh) it always needs to match the window height
	 * otherwise with because of fixed position and auto height we won't be able to scroll it
	 */
	position: fixed;
	height: 100vh;
	overflow: overlay;
	overflow-x: hidden;
	border-right: 1px solid #1a1a1a;
	padding: calc(70px + 6px) 6px 40px 16px;
}

#sidebar,
.sides-outer.left {
	background: rgba(0, 0, 0, 0.6);
}

#champcard {
	background-color: #000;
}

/* ======================== */

.header {
	/*
	 * normally making position absolute breaks .main-wrapper alignment,
	 * that's why; .center needs to have margin-top equal to .header's height.
	 */
	position: absolute;
	top: 0;
	width: 100%;
	height: 70px;
	display: flex;
	align-items: center;
	transition: opacity 300ms;
}

#header__main {
	padding-left: 36px;
	margin-left: -20px; /* undo .center padding-left */
	border-bottom: 1px solid #1a1a1a;
	z-index: 2;
}

#header__sidebar {
	align-items: flex-end;
	padding-bottom: 14px;
}

#header__sidebar-2 {
	 /*show this element on top of .sides, so their background does not hide the border*/
	/*z-index: 1;*/
}
/* ---------------------------------------------------------------------------------------- SIDEBAR CONTENT */

#sidebar::-webkit-scrollbar {
	width: 2px;
	z-index: 10;
}

/* ---------------------------------------- HEADER */

#site-icon__small {
	margin-right: 10px;	
	margin-bottom: 3px;
}

/* ---------------------------------------- FILTERS */

#filter-lane {
	display: flex;
	justify-content: space-around;
	background-color: #0D0D0D;
	border-radius: 6px;
	padding: 4px 4px;
	margin-right: 18px;
	margin-left: -8px;
}

#filter-role {
	display: flex;
	justify-content: space-around;
	margin: 16px 26px 32px 0;
}

#filter-lane svg { padding: 0 2px; }
#filter-role svg { padding: 0 6px; }

.search-filters svg { cursor: pointer; box-sizing: content-box; }
#filter-lane svg path { fill: #5a5a5a; }
#filter-role svg path { fill: #444444; }
#filter-lane svg.active path { fill: #fff; }
#filter-role svg.active path { fill: #fff; }

/* ---------------------------------------- TEXT */

p.sidebar-heading {
	color: #937341;
	font-size: 12px;
	font-family: Beaufort-Bold;
	letter-spacing: 0.07em;
	text-transform: uppercase;
	margin-top: 24px;
	margin-bottom: 4px;
	cursor: default;
}

p.sidebar-subheading {
	color: #DBD4BF;
	font-size: 14px;
	font-family: Spiegel-Regular;
	letter-spacing: 0.07em;
	padding: 4px 0;
	margin-top: 8px;
	cursor: pointer;
}

p.sidebar-subheading span {
	cursor: unset; /*clear the default from base.css*/
}

p.sidebar-subheading:hover {
	color: #fff;
}

p.sidebar-subheading svg {
	margin-right: 8px;
}

#sidebar ul { margin-left: 16px; }
/*#sidebar ul { margin-left: -2px; }*/
#sidebar ul ul { margin-left: 20px; margin-bottom: 2px; }
#sidebar ul.section {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}

#sidebar li {
	color: #95938e;
	font-family: Spiegel-Regular;

	position: relative;
	display: flex;
	align-items: center;
	overflow: visible;
	padding-bottom: 1px;
}

#sidebar li span {
	cursor: pointer;
}

#sidebar li svg {
	margin-right: 4px;
	visibility: hidden;
}

#sidebar li:hover { color: #fff; }
#sidebar li:hover svg { visibility: visible; }

#sidebar li:hover a[href=""] svg,
#sidebar li:hover a[href="#"] svg {
	visibility: hidden;
}

/*tooltip*/

#sidebar li:hover span.tooltip {
	opacity: 1;
	transform: scale(1) translateZ(0px);
}

#sidebar li span.tooltip:empty {
	display: none;
}

#sidebar li span.tooltip {
	position: absolute;
	top: -24px;
	left: 2;
	z-index: 2;
	opacity: 0;
	/*bg*/
	/*box-shadow: rgb(0 0 0 / 20%) 0px 0px 6px;*/
	/*background-color: #0C0C0D;*/
	background-color: #DBD4BF;
	border-radius: 5px;
	border: 1px solid #785A28;
	padding: 4px 12px;
	/*text*/
	/*color: #DBD4BF;*/
	color: #604820;
	font-family: Spiegel-Regular;
	font-size: 12px;
	letter-spacing: 0.04em;
	white-space: nowrap;
	/*etc*/
	pointer-events: none;
	transform-origin: left bottom;
	transform: scale(0.90) translateZ(0px);
	transition: transform .1s linear;
}

/* ---------------------------------------------------------------------------------------- CHAMPLIST */

#champ-list__wrapper {
	min-height: calc(100vh - 90px);
}

#champ-list {
	display: flex;
	flex-flow: row wrap;
	padding-top: 15px;
	padding-bottom: 250px;
	width: 100%;
}

.item {
	flex: 1;
	display: flex;
	flex-flow: column;
	margin-bottom: 16px;
	min-width: 120px;
	align-items: center;
	cursor: pointer;
	position: relative;
 	transition: all .3s ease;
}

.item span.name {
	text-align: center;
	margin-top: 5px;
	color: #999485;
	font-size: 16px;
	font-family: Spiegel-Regular;
	cursor: unset;
}

.item img {
	position: absolute;
	height: 87px;
	width: 87px;
	outline: 1px solid #5B5A56;
 	outline-offset: -3px;
 	opacity: 0;
 	animation: fadeIn 0.5s ease;
 	animation-play-state: paused;
 	transition: filter .3s ease;
}

.item .key {
	position: absolute;
	color: #a5a5a5;
	background-color: #000;
	font-family: Spiegel-Regular;
	font-size: 14px;
	padding: 2px 6px;
  right: 0px;
  bottom: 0px;
  border-radius: 6px 0 0 0;
  letter-spacing: 0.10em;
}

.item .key:empty {
	display: none;
}

@keyframes fadeIn {
  0% { opacity: 0; }
100% { opacity: 1; }
}

.item .image__wrapper {
	height: 84px;
	width: 84px;
	overflow: hidden;
	position: relative;
	overflow: visible;
}

.item .image__wrapper svg {
	position: absolute;
	top: -1;
	left: -1;
	z-index: 1;
	visibility: hidden;
}

/* active item */

.item.active img { }

.item.active .image__wrapper svg {
	visibility: visible;
}

/* hide item */

.item.hide { display: none; }

.item.hidden {
	visibility: hidden;
	height: 0;
	margin-bottom: 0;
}

/* item hover */

.item:hover img {
	outline: 1px solid #937341;
}

.item:hover .image__wrapper::before {
	content: "";
	position: absolute;
	top: 0;
	z-index: 1;
	background-color: #fff;
	opacity: 0.07;
	height: 100%;
	width: 100%;
}

/* item spotlight */

#champ-list.spotlight .item:not(.active) {
	opacity: 0.7;
	filter: grayscale(100%);
}

/* ---------------------------------------------------------------------------------------- CHAMPCARD */

#champcard {
	/*background-color: #fff;*/
	z-index: 2;
	position: fixed;
	bottom: 0;
	overflow: overlay;
	/*width: 100%;*/
	box-shadow: 0 -2px 10px rgba(0, 0, 0, 1);
	border: 1px solid #1a1a1a;
	/*margin: 0 0 16px 14px;*/
	margin-left: -21px;
	/*padding: 22px 40px calc(22px - 5px) 22px;*/
	transform: scale(1) translateY(0px);
	transform-origin: bottom;
	transition: all .3s ease-out;
}

@media only screen and (max-width: 1100px) {
	#champcard {
		margin-left: 0;
		width: 100%;
	}
	
	#champcard__heading,
	#champcard__table {
		min-width: 1100px;
	}
}

#champcard.hide {
	opacity: 0;
	transform: translateY(40px);;
	transition: all .3s ease-in;
	visibility: hidden;
}

/* ---------------------------------------------------------------------------------------- CHAMPCARD HEADING */

#champcard__heading {
	display: flex;
	align-items: center;
	padding: 12px 0;
	padding-left: 20px;
}

#champcard__heading > a { margin-right: 10px; }

#champcard__name {
	font-family: Beaufort-Bold;
	font-size: 20px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	background: linear-gradient(180deg, #CDBE91 0, #8E7141);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#champcard__title {
	margin: 0px 19px 0 6px;
	font-family: Beaufort-Bold;
	font-weight: bold;
	font-size: 14px;
	letter-spacing: 0.03em;
	background: linear-gradient(180deg, #BEAA6F 0, #5F4B2B);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/* ---------------------------------------------------------------------------------------- CHAMPCARD FOOTER */

#champcard__footer {
	padding: 14 20px;
	/*padding-bottom: 36px;*/
	min-height: 130px;
}

#champcard__footer .header-row {
	display: flex;
	align-items: center;
}

#champcard__footer .heading {
	font-family: Spiegel-Regular;
  font-weight: bold;
  font-size: 9px;
  text-transform: uppercase;
  letter-spacing: 0.20em;
  color: #BBA87B;
	line-height: 1.1;
}

.heading-min-width {
	min-width: 132px;
}

#champcard__footer .text-icon-wrapper:hover {
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 4px;

}
#champcard__footer .text-icon-wrapper:hover * {
	stroke: #CDBF9D;
	color: #DED5BF;
}

/* text & icon */

.text-icon-wrapper {
	display: flex;
	align-items: center;
	cursor: pointer;
	padding: 4px 8px;
}

.text-icon-wrapper p,
.text-icon-wrapper span {
	cursor: unset;
	line-height: 1.1;
}

.text-icon-wrapper svg {
	margin-right: 6px;
	margin-left: 4px;
}

/* ---------------------------------------------- */

#champcard__footer .text {
	color: #919191;
	font-family: monospace;
	font-size: 12px;
	margin-top: 6px;
}

#champcard__footer #ability-desc {
	/*font-size: 14px;*/
	margin-top: 2px;
	/*margin-bottom: 22px;*/
	line-height: 1.4;
	padding-bottom: 10px;
}

/* ---------------------------------------------------------------------------------------- VIDEO TOOLTIP */

#video-btn {
	position: relative;
}

#video-btn:hover .tooltip {
	opacity: 1;
	transform: scale(1) translateZ(0px);
}

#video-btn .tooltip {
	position: absolute;
	bottom: 25px;
	left: 0px;
	/*z-index: 2;*/
	opacity: 0;
	/*bg*/
	/*box-shadow: rgb(0 0 0 / 20%) 0px 0px 6px;*/
	/*background-color: #0C0C0D;*/
	background-color: #000;
	border-radius: 5px;
	/*border: 1px solid #785A28;*/
	/*padding: 4px 12px;*/
	/*text*/
	/*color: #DBD4BF;*/
	/*color: #604820;*/
	/*font-family: Spiegel-Regular;*/
	/*font-size: 12px;*/
	/*letter-spacing: 0.04em;*/
	/*white-space: nowrap;*/
	/*etc*/
	pointer-events: none;
	transform-origin: left bottom;
	transform: scale(0.90) translateZ(0px);
	transition: transform .2s ease;
}

#video-btn .tooltip video {
	border-radius: 5px;
}




/* ---------------------------------------------------------------------------------------- CHAMPCARD TABLE */

#champcard__table {
	display: flex;
  border-top: 1px solid #181818;
}

#champcard__table .col { flex: 1; }
#champcard__table .col:first-child { flex: 1.2; }

#champcard__table .row {
	position: relative;
	display: flex;
	height: 37px;
	align-items: center;
  border-right: 1px solid #181818;
  border-bottom: 1px solid #181818;
	padding-left: 20px;
	color: #fff;
}

#champcard__table .col:last-child .row { border-right: none; }
#champcard__table .row:first-child { height: 32px; }

#champcard__table .row:first-child p {
	font-family: Spiegel-Regular;
	font-weight: bold;
	font-size: 9px;
	text-transform: uppercase;
	letter-spacing: 0.20em;
	color: #BBA87B;
}

#champcard__table .row p {
	color: #919191;
	font-family: monospace;
	font-size: 12px;
}

#champcard__table .row:nth-child(odd) { background-color: #090909; }
#champcard__table .row:nth-child(1)   { background-color: #000000; }

/* ---------------------------------------- ICONS */

#champcard__table svg {
	margin-right: 10px;
}

#champcard__table img {
	pointer-events: none;
	margin-right: 10px;
	height: 17px;
	width: 17px;
}

#champcard__table .hide {
	display: none;
}

/* ---------------------------------------- ABILITY */

#champcard__table .ability-wrapper {
	justify-content: space-between;
	padding-right: 16px;
}

#champcard__table .ability {
	display: flex;
	align-items: center;
	transition: all .3s ease-out 0.1s;
}

#champcard__table .ability img {
	width: 24px;
	height: 24px;
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 5px;
}

#champcard__table .ability .key {
	/*width: 10px;*/
	/*text-align: center;*/
	color: #6F6F6F;
	font-size: 10px;
	font-weight: bold;
	font-family: monospace;
	background: linear-gradient(180deg, #CDBE91 0, #8E7141);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#champcard__table .ability .name {
	white-space: pre-line;
}


/* LINE */

#champcard__table .ability-wrapper .line {
	position: absolute;
	left: 1;
	/*background-color: #BBA87B;*/
	background-color: #8a7647;
	height: 100%;
	width: 4px;
	transition: all 0.3s ease;
	z-index: 1;
}

/* hover */

#champcard__table .ability-wrapper:hover .ability { transform: translateX(10px); }
#champcard__table .ability-wrapper .action { 
	opacity: 0;
	transition: none;
	transition: all 0.5s ease 0.1s;
	/*margin-right: 4px;*/
	/*margin-left: 10px;*/
	margin-right: 0;
	padding: 4px;
	box-sizing: content-box;
}

#champcard__table .action path {
	stroke: #616161;
}
#champcard__table .ability-wrapper:hover .action { opacity: 1; }
#champcard__table .ability-wrapper .action:hover path { stroke: #fff; }



#champcard__table .ability > * { cursor: unset; }

#champcard__table .col:first-child .row:not(:first-child) { cursor: pointer; }

/* ---------------------------------------- RATINGS */

#champcard__table .col.ratings .row {
	justify-content: space-between;
	padding-right: 20px;
}

/* ---------------------------------------- DAMAGE BAR */

#damage-bar {
	display: flex;
	width: 94px;
	height: 4px;
	border-radius: 4px;
	overflow: hidden;
}

#damage-bar .magic { background-color: #494299; width: 33%; }
#damage-bar .physical { background-color: #8E551F; width: 33%; min-width: 4%; }
#damage-bar .true { background-color: #D0D0D0; width: 33%; min-width: 4%; }

/* ---------------------------------------- STYLE BAR */

#style-bar-wrapper { display: flex; align-items: center; }

#style-bar-wrapper svg { margin: 0; }

#style-bar {
	display: flex;
	width: 58px;
	height: 4px;
	margin: 0 6px;
	border-radius: 4px;
	background-color: #251B05;
}

#style-bar .bar {
	width: 50%;
	height: 100%;
	border-radius: 4px;	
	background-color: #B68E4B;
}
#style-bar-wrapper svg path { fill: url(#gradient_table_icon); }
#style-bar-wrapper[data-majority="attack"] svg:nth-child(1) path { fill: url(#gradient_table_icon); }
#style-bar-wrapper[data-majority="attack"] svg:nth-child(3) path { fill: #342400; }
#style-bar-wrapper[data-majority="spell"] svg:nth-child(1) path { fill: #342400; }
#style-bar-wrapper[data-majority="spell"] svg:nth-child(3) path { fill: url(#gradient_table_icon); }

/* ---------------------------------------- DIFFICULTY BAR */

#difficulty-bar {
	display: flex;
	width: 94px;
	height: 4px;
	gap: 5px;
}

#difficulty-bar .bar {
	flex: 1;
	background-color: #251B05;
	width: 94px;
	height: 4px;
	border-radius: 4px;
}

#difficulty-bar[data-value="1"] .bar:nth-child(1),
#difficulty-bar[data-value="2"] .bar:nth-child(1),
#difficulty-bar[data-value="2"] .bar:nth-child(2),
#difficulty-bar[data-value="3"] .bar:nth-child(1),
#difficulty-bar[data-value="3"] .bar:nth-child(2),
#difficulty-bar[data-value="3"] .bar:nth-child(3) { background-color: #B68E4B; }

/* ---------------------------------------- RATINGS */

#champcard__table .row.bars {
	height: calc(2*37px);
}

#champcard__table .bar-wrapper svg {
	margin: 0;
	margin-bottom: 6px;
}

.bar-wrapper {
	display: flex;
	flex: 1;
	flex-flow: column;
	align-items: center;
	margin-right: 10px;
}

.bar-wrapper:nth-child(5) { margin-right: 0px; }

.bar-wrapper .bar { width: 100%; }
.bar-wrapper .bar > div {
	background-color: #161616;
	height: 11px;
	width: 100%;
}

.bar-wrapper .bar > div:nth-child(1) { background-color: #342400; }
.bar-wrapper[data-value="2"] .bar > div:nth-child(2),
.bar-wrapper[data-value="3"] .bar > div:nth-child(2) { background-color: #594119; }
.bar-wrapper[data-value="3"] .bar > div:nth-child(3) { background-color: #997842; }

.bar-wrapper[data-value="1"] svg path { fill: #342400; }
.bar-wrapper[data-value="2"] svg path { fill: #775928; }
.bar-wrapper[data-value="3"] svg path { fill: url(#gradient_table_icon); }

/* ---------------------------------------- ICON ALIGNMENTS */

#champcard__resource {
	margin-left: 1.5px;
	height: 15px;
	width: 15px;
}

#champcard__region {
	margin-left: -1.5px;
	height: 20px;
	width: 20px;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------ */

/* ---------------------------------------------------------------------------------------- ETC */

.row.highlight {
	background-color: #160f01 !important;
  border-bottom-color: #261d08 !important;
}
.row.highlight .name {
	color: #a78c60 !important;
}

span.highlight {
	background-color: #B88F4C;
	color: #000;
	-webkit-text-fill-color: #000;
	padding: 0 1px;
}

/* ---------------------------------------------------------------------------------------- SEARCH */

#site-icon {
	display: none;
	/*width: 100%;*/
	/*height: 100%;*/
}

/* ---------------------------------------- SEARCH WRAPPER */

#search__wrapper {
	width: 300px;
}

#search__clear {
	pointer-events: unset;
	cursor: pointer;
}

#search__clear.hide {
	visibility: hidden;
}

/* ---------------------------------------- SEARCH */

#search {
	width: 100%;
	height: 100%;
	background-color: #000;
	border: none;
	border-radius: 0;
	padding: 12px calc(24px + 6px);
	font-size: 14px;
	font-family: Spiegel-Regular;
	color: #F0E6D2;
	letter-spacing: 0.07em;
}

#search::placeholder,
#search:-ms-input-placeholder,
#search::-ms-input-placeholder {
  color: #999485;
  opacity: 1;
}

#search:focus {
    outline: none;
}

/* ---------------------------------------- SORT */

#sort__wrapper {
	margin-left: 12px;
}

#search__count {
	color: #937341;
	font-size: 18px;
	font-family: Beaufort-Italic;
	font-weight: bold;
	letter-spacing: 0.07em;
	margin-left: 12px;
	min-width: 2.1em;
	background: linear-gradient(180deg, #ECC572 0, #815500);
	background: linear-gradient(180deg, #93723B 0, #463714);
	-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* ---------------------------------------------------------------------------------------- FOOTER */

#footer {
	padding: 20px;
	/*max-width: 1000px;*/
}

#footer a {
	font-family: Spiegel-Regular;
	font-size: 14px;
	font-weight: bold;
	color: #088a9f;
	display: inline-block;
	font-size: 14px;
	margin-right: 14px;
	margin-bottom: 10px;
	letter-spacing: 0.6px;
}

#footer .disclaimer {
	/*font-family: "FF Mark W05",Arial,sans-serif;*/
	font-family: Spiegel-Regular;
	font-weight: 500;
	font-size: 12px;
	line-height: 1.316;
	letter-spacing: 0.1px;
	margin: 0 auto;
	/*max-width: 600px;*/
	/*text-align: center;*/
	color: #7e7e7e;
	pointer-events: none;
}

/* ---------------------------------------------------------------------------------------- RIOT */
/* ability description elements */
active           { font-weight: bold; color: #F7AC18; }  /* Tahm Kench */
passive          { font-weight: bold; color: #F8EDD8; }  /* Tahm Kench */
physicalDamage   { font-weight: bold; color: #D95D21; }  /* Aatrox P */
magicDamage      { font-weight: bold; color: #0ADAF6; }  /* Corki*/
spellActive      { font-weight: bold; color: #F8EDD8; }  /* Rell */
spellName        { font-weight: bold; color: #0BFEE4; }  /* Tahm Kench - Acquired Taste */
spellPassive     { font-weight: bold; color: #F8EDD8; }  /* Rell */
scaleArmor       { font-weight: bold; color: #FDC35B; }  /* Rell */
scaleMR          { font-weight: bold; color: #53E9FF; }  /* Rell */
keywordName      { font-weight: bold; color: #E8E87C; }  /* Velkoz Organic Deconstruction*/
keywordMajor     { font-weight: bold; color: #CBCC6F; }  /* Amumu Curse*/
mainText         { font-weight: bold; color: unset;   }  /* Ryze's spells deal extra damage...*/
OnHit            { font-weight: bold; color: #F3E9D5; }  /* Viego */
speed            { font-weight: bold; color: #F3E9D5; }  /* Vayne */
/*status           { font-weight: bold; color: #9367A9; }*/  /*Rell Stun */
status           { font-weight: bold; color: #6655CC; }  /*  official */
factionIonia1    { font-weight: bold; color: #F2E8D4; }  /* Yasuo R Airborne */