.heading__smallest {
	display: none;
}

@media only screen and (max-width: 768px) {

	#header__main {
		padding-left: 16px;
		padding-right: 24;
		margin-left: 0;
	}

	#sort__wrapper {

	}

	#site-icon {
		cursor: pointer;
		display: inline-block;
		box-sizing: content-box;
		padding: 16px;
		margin-right: 12px;
	}

	#sidebar {
		z-index: 99;
		width: 300px;
		padding-left: 24px;
		transform: translateX(-100%);
		transition: transform 0.3s ease-out;
		background-color: #000;
	}

	#sidebar.show {
		transform: translateX(0);
	}

	#sidebar__content-overlay {
		position: fixed;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		z-index: -10;
		background-color: #000;
		opacity: 0;
		transition: all 0.3s linear;
	}

	#sidebar__content-overlay.show {
		z-index: 98;
		opacity: 0.6;
	}

	.center {
		margin-left: 0;
		padding-left: 0;
	}

	.item span.tooltip {
		left: unset;
		right: 10px;
		transform-origin: right top;
	}

	#footer {
		margin-left: 0;
	}
}

@media only screen and (max-width: 476px) {
	
	/* sidebar */
	#sidebar {
		width: 280px;
		padding-bottom: 140px; /*if safari's tab is open & at the bottom of the scren, since they can't scroll the page it won't go away obscuring the sideabar elements */
	}

	/* heading */
	#header__main {
		flex-wrap: wrap;
		height: 140px;
		padding: 16px;
		padding-top: 22px;
		padding-bottom: 8px;
		padding-right: 16px;
	}

	/*.center { margin-top: 20px; }*/


	/* elements  */
	.heading__smallest { display: unset; }

	/*.header__content-right { display: none; }*/

	/*#site-heading-wrapper {
		display: flex; 
		align-items: flex-end;
		justify-content: center;
		flex: 1;
		min-width: 140px; /*so that enemies dont prevent this from taking the whole space*/
	/*}*/

	/*#sort { font-size: 12px; }*/

	/*#site-icon { display: none; }*/
	
	/* order */
	/*#search__count { order: 1; margin-left: 0; text-align: right; }*/
	/*.flex-newline { order: 2; flex-basis: 100%; }*/
	/*#search__wrapper { order: 3; width: min-content; flex: auto; }*/
	/*#sort__wrapper { order: 4; }*/

	#header__main           { height: 112px; }
	#search__icon           { order: 6; }
	#search__tags           { order: 7; }
	#search                 { order: 8; height: 34px; }
	#search__bubble         { order: 4; }
	#info__bubble           { order: 3; }
	.align_right            { order: 2; flex-grow: 1; }
	.break                  { order: 5; width: 100%; }
	#site-header__hamburger { order: 1; }

	.center {
		margin-bottom: 411px;
	}

	.footer .wrapper {
		flex-flow: column;
	}
}

@media only screen and (max-width: 390px) {
	#header__main {
		padding-left: 30px;
		padding-right: 25px;
	}
}