/************************************************
 * MAX-WIDTH
 ************************************************/
@media only screen and (max-width: 1060px) {
	#header {
		padding: 0 20px;
	}
}

/************************************************
 * MEDIUM
 ************************************************/
@media only screen and (max-width: 768px) {
	
	#sidebar {
		z-index: 99;
	}

	.item span.tooltip {
		left: unset;
		right: 10px;
		transform-origin: right top;
	}

 	/*** SIDEBAR BG CONTENT OVERLAY ***/
	#sidebar__content-overlay {
		position: fixed;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		z-index: -10;
		background-color: #000;
		opacity: 0;
		transition: all 0.3s linear;
	}

	#sidebar__content-overlay.show {
		z-index: 98;
		opacity: 0.6;
	}
}

/************************************************
 * SMALL
 ************************************************/
@media only screen and (max-width: 476px) {

	#sidebar-wrapper {
		width: 280px;
		padding-bottom: 140px; /*if safari's tab is open & at the bottom of the scren, since they can't scroll the page it won't go away obscuring the sideabar elements */
	}

	.footer .wrapper {
		flex-flow: column;
	}
}

/************************************************
 * X-SMALL
 ************************************************/
@media only screen and (max-width: 390px) {

}