
#box1 {
	background-color: red;
	width: 100px;
	height: 100px;
	clip-path: polygon(72% 0, 100% 28%, 100% 100%, 0 100%, 0 0);
	aspect-ratio: auto 1 / 1;
}

#box2 {
	background-color: blue;
	/*width: 200px;*/
	height: 100px;
	clip-path: polygon(70% 0, 100% 30%, 100% 100%, 0 100%, 0 0);
	aspect-ratio: auto 626 / 384;
}